*{
	border: 0px;
}

body{
	border: 5px solid #b18f39;
	background-color: #000;
}

.corpo{
	background-color: hsl(0, 0%, 66%);
    padding: 5px;
}

.imagens-corpo{
    width: 100%;
    border: 1px solid black;    
}

.primeira-coluna{
    width: 25%;
}

.segunda-coluna{
    padding-left:  5%;
    font-size: 130%;
}

.conteudo-corpo{
	width: 100%;
	padding-top: 1%;
}

.topo{
    align-content: center;
    text-align: center;
}

#imagem-header{
	width: 10%;
}

.buttons{
	width: 100%;
	
}

.button{
	width: 100%;
	height: 50px;
	border-radius: 5px;
	background-color: #b18f39;
}

.button:hover{
    width: 100%;
	height: 50px;
	border-radius: 5px;
	background-color: #a87f17;
}	

a{
 text-decoration: none;
}

hr{
	size: 1px;
	border: 1px solid black;
	border-collapse: collapse;
}
 
th{
    border: 1px solid black;
    background-color: #b18f39;
}

footer{
	text-align: center;
}



