*{
	border: 0px;
}

body{
	border: 5px solid #b18f39;
	background-color: #000;
	
}

.corpo{
	background-color: hsl(0, 0%, 66%);
	padding: 5px;
    text-align: center;
    font-size: 130%;
}

.topo{
    align-content: center;
    text-align: center;
}

.conteudo-corpo{
	width: 100%;
	padding-top: 1%;
}

#imagem-header{
	width: 10%;
}


.buttons{
	width: 100%;
	
}
.button{
	width: 100%;
	height: 50px;
	border-radius: 5px;
	background-color: #b18f39;
}
.button:hover{
    width: 100%;
	height: 50px;
	border-radius: 5px;
	background-color: #a87f17;
}		

a{
 text-decoration: none;
}
hr{
	size: 1px;
	border: 1px solid black;
	border-collapse: collapse;
}

#tabela{
    border: 1px solid black;
    border-collapse: collapse;
    width:100% ;
    text-align: left;
    border-radius: 5px;    
}
th{
    border: 1px solid black;
    background-color: #b18f39;
}
.coluna{
    border-right: 1px solid black;
}
.claro{
    background-color: #727070;
}
.escuro{
    background-color: #afafae;
}
footer{
	text-align: center;
}
.cxpergunta{
    border: 2px solid black;
    margin-top: 5%;
    text-align: left;
    border-radius: 5px;  
}


